{% load static %}
<div id="userModal" class="fixed inset-0 bg-black bg-opacity-50 z-50 hidden">
  <div id="" class="bg-white w-[400px] mx-auto mt-20 rounded-lg p-6 relative max-h-[80vh] overflow-y-auto">
    <button onclick="closeUsersModal()" class="absolute top-2 right-2 text-gray-500 hover:text-red-500 text-xl">&times;</button>
    <h2 class="text-lg font-semibold mb-4">Conversations</h2><hr>
    <div id="user-list" class="space-y-4">

    </div>
  </div>
</div>
{% include 'send_message.html' %}

 <script src="{% static 'js/script.js' %}" defer></script>