
<!DOCTYPE html>
<html lang="fr">
{% load static %}
<head>
  <title>Arena of Creators</title>
</head>

<body class="pt-16 flex">
{% include '_nav.html' %}

  <!-- Conteneur principal centré -->
  <main class="ml-[270px]  mr-[240px] p-4 w-full max-w-2xl mx-auto">
    {% for post in posts %}
    <div class="bg-white p-4 rounded-lg shadow mb-6">

      <!-- Image + Nom utilisateur en haut -->
      <div class="flex items-center gap-4 mb-2">
        <a href="{% url 'profile' post.author.username %}"><img src="{{ post.author.profile_picture.url }}" alt="Utilisateur" class="w-10 h-10 rounded-full"></a>
        <h6 class="text-lg font-semibold">{{ post.author.username }}</h6>
        <!-- Date du post -->
      <span class="text-sm text-gray-500 block mt-2">{{ post.created_at }}</span>
      </div>

      <!-- Contenu du post -->
      <p class="mt-2 text-justify">{{ post.content }}</p>

      <!-- Image du média si elle existe -->
      {% if post.media %}
        <img src="{{ post.media.url }}" alt="media" class="mt-4 w-full rounded">
      {% endif %}
    <div></div><hr>
      <!-- Boutons Like et Commentaire -->

      <div class="flex items-center gap-4 mt-2">
    <button
  class="like-btn"
  data-post-id="{{ post.id }}"
  data-liked="{{ post.is_liked|yesno:'true,false' }}"
  onclick="toggleLike(this)">
  ❤️ <span class="like-count">{{ post.likes.count }}</span> Likes
</button>
        <button onclick="openCommentModal({{ post.id}})" class="text-blue-500 hover:underline flex items-center gap-1 text-gray-600 hover:text-blue-500">
          💬 Commenter<span id="commentCount-{{ post.id }}">{{ post.comments.count }}</span>
        </button>
      </div>



    </div>
    {% endfor %}
    {% include 'comment.html' %}

</main>
{% include 'chatbox.html' %}

</body>
</html>

<script src="{% static 'js/script.js' %}" defer></script>